<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--
    <add name="somee" connectionString="workstation id=emartDB.mssql.somee.com;packet size=4096;user id=krishDB;pwd=@krish19;data source=emartDB.mssql.somee.com;persist security info=False;initial catalog=emartDB"/>
    
    <add name="local" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=emartDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    !-->
    
    <add name="azure" connectionString="Server=tcp:emartdbserver.database.windows.net,1433;Database=emartDB;User ID=krish@emartdbserver;Password=Password1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  
</configuration>